.direction {
    background-color: blueviolet;
}
.direction:hover {
    background-color: darkgreen;
    color: aqua;
}
.speech{
    color: crimson;
    font-size: smaller;
    font-style: italic;
}
.lud{
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}

.jul{
    font-variant: inherit;
    font-style: oblique;
    font-weight: lighter;
    color: darkgoldenrod;
}


